nav-bar
{
	display: flex;
	height:  64px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	padding:  0 1.6%;
	align-content: stretch;
}

nav-bar.fixed
{
	position: fixed;
	top: 0;
	width:  100%;
	background-color: #fff;
	z-index: 9999;
}

nav-bar .brand
{
	display: flex;
	align-items: center;
}

nav-bar .brand a
{
	font-size: 1.8em;
	text-decoration: none;
	color: #737373;
}

nav-bar .site-map
{
	list-style-type:  none;
	margin:  0;
	margin-left:  auto;
	align-content: stretch;
	display: flex;
}

nav-bar .site-map li
{
	display: inline-flex;
}

nav-bar .site-map li a
{
	padding:  0 1em;
	text-decoration: none;
	color:  #737373;
}

nav-bar .site-map li a .fa
{
	margin-right: 0.5em;
}

nav-bar .utility-menu
{
	line-height: 4em;
}

nav-bar .utility-menu .button-group
{
	margin: 0;
}