button.icon .fa,
input[type="submit"].icon .fa,
.button.icon .fa
{
    margin-right: 0.35em;
}

button:before,
input[type='submit']:before,
.button:before {
    background: #ccc;
    background-color: rgba(0,0,0,.05);
    float: left;        
    text-align: center;
    margin: 0 1em 0 -1.12em;
    padding: 0 .75em;
    border-radius: .28571429rem 0 0 .28571429rem;
    pointer-events: none; 
    width: 35px;       
}

button:after,
input[type='submit']:after,
.button:after{
    background: #ccc;
    background-color: rgba(0,0,0,.05);
    float: right;
    text-align: center;
    /* margin: 0 -1.12em 0 1em; */
    padding: 0 .75em;
    border-radius: 0 .28571429rem .28571429rem 0;
    pointer-events: none;
    width: 35px;  
}

/*Video Player Icons*/
button.back:before,
a.button.back:before,
button.forward:before,
a.button.forward:before,
/*Social Meddia Icons*/
button.facebok:before,
a.button.facebook:before,
button.twitter:before,
a.button.twitter:before,
button.reddit:before,
a.button.reddit:before,
button.google-plus:before,
a.button.google-plus:before,
/*Web Icons*/
button.adjust:before,
a.button.adjust:before,
button.anchor:before,
a.button.anchor:before,
button.archive:before,
a.button.archive:before,
button.archive:before,
a.button.archive:before,
button.area-chart:before,
a.button.area-chart:before,
button.arrows:before,
a.button.arrows:before,
button.arrows-h:before,
a.button.arrows-h:before,
button.arrows-v:before,
a.button.arrows-v:before,
button.asterisk:before,
a.button.asterisk:before,
button.at:before,
a.button.at:before,
button.automobile:before,
a.button.automobile:before,
button.balance-scale:before,
a.button.balance-scale:before,
button.ban:before,
a.button.ban:before,
button.bank:before,
a.button.bank:before,
button.bar-chart:before,
a.button.bar-chart:before,
button.bar-chart-o:before,
a.button.bar-chart-o:before,
button.barcode:before,
a.button.barcode:before,
button.bars:before,
a.button.bars:before,
button.battery-0:before,
a.button.battery-0:before,
button.battery-1:before,
a.button.battery-1:before,
button.battery-2:before,
a.button.battery-2:before,
button.battery-3:before,
a.button.battery-3:before,
button.battery-4:before,
a.button.battery-4:before,
button.battery-empty:before,
a.button.battery-empty:before,
button.battery-half:before,
a.button.battery-half:before,
button.battery-quarter:before,
a.button.battery.quarter:before,
button.battery-three-quarters:before,
a.button.battery-three-quarters:before,
button.bed:before,
a.button.bed:before,
button.beer:before,
a.button.beer:before,
button.bell:before,
a.button.bell:before,
button.bell-o:before,
a.button.bell-o:before,
button.bell-slash:before,
a.button.bell-slash-o:before,
button.bicycle:before,
a.button.bicycle:before,
button.binoculars:before,
a.button.binoculars:before,
button.birthday-cake:before,
a.button.birthday-cake:before,
button.bluetooth:before,
a.button.bluetooth:before,
button.bluetooth-b:before,
a.button.bluetooth-b:before,
button.bolt:before,
a.button.bolt:before,
button.bomb:before,
a.button.bomb:before,
button.book:before,
a.button.book:before,
button.bookmark:before,
a.button.bookmark:before,
button.bookmark-o:before,
a.button-bookmark-o:before,
button.briefcase:before,
a.button.briefcase:before,
button.bug:before,
a.button.bug:before,
button.building:before,
a.button.building:before,
button.bullhorn:before,
a.button.bullhorn:before,
button.bullseye:before,
a.button.bullseye:before,
button.bus:before,
a.button.bus:before,
button.cab:before,
a.button.cab:before,
button.calculator:before,
a.button.calculartor:before,
button.calender-check-o:before,
a.button.calender-check-o:before,
button.calendar-minus-o:before,
a.button.calender-minus-o:before,
button.calender-o:before,
a.button.calendar-o:before,
button.calendar-plus-o:before,
a.button.calendar-plus:before,
button.calendar-times-o:before,
a.button.calendar-times-o:before,
button.camera:before,
a.button.camera:before,
button.camera-retro:before,
a.button.camera-retro:before,
button.car:before,
a.button.car:before,
button.caret-square-o-down:before,
a.button.caret-square-o-down:before,
button.caret-square-o-left:before,
a.button.caret-square-o-left:before,
button.caret-square-o-right:before,
a.button-caret-square-o-right:before,
button.caret-square-o-up:before,
a.button.caret-square-o-up:before,
button.caret-arrow-down:before,
a.button.caret-arrow-down:before,
button.cart-plus:before,
a.button.cart-plus:before,
button.cc:before,
a.button.cc:before,
button.certificate:before,
a.button.certificate:before,
button.check:before,
a.button.check:before,
button.check-circle:before,
a.button-check-circle:before,
button.check-circle-o:before,
a.button.check-circle-o:before,
button.check-square:before,
a.button.check-square:before,
button.check-square-o:before,
a.button.check-square-o:before,
button.child:before,
a.button.child:before,
button.circle:before,
a.button.circle:before,
button.circle-o:before,
a.button.circle-o:before,
button.circle-o-notch:before,
a.button.circle-o-notch:before,
button.circle-thin:before,
a.button-circle-thin:before,
button.clock-o:before,
a.button.clock-o:before,
button.clone:before,
a.button.clone:before,
button.close:before,
a.button.close:before,
button.cloud:before,
a.button.cloud:before,
button.cloud-download:before,
a.button.cloud-download:before,
button.cloud-upload:before,
a.button.cloud-upload:before,
button.code:before,
a.button.code:before,
button.code-fork:before,
a.button.code-fork:before,
button.coffee:before,
a.button.coffed:before,
button.cog:before,
a.button.cog:before,
button.cogs:before,
a.button.cogs:before,
button.comment:before,
a.button.comment:before,
button.commenting:before,
a.button.commenting:before,
button.commenting-o:before,
a.button.commenting-o:before
{
    font-family:FontAwesome;
    text-align: center;
}

button.icon-right,
a.button.icon-right
{
    padding:0;
}

button.forward.icon-right:before,
a.button.forward.icon-right:before
{
    content:'';
}

button.forward.icon-right:after,
a.button.forward.icon-right:after
{
    content:'\f04e';
    font-family: FontAwesome;
}

/*Video Player Icons*/

button.back:before,
a.button.back:before
{
    content: "\f04a";
}

button.pause:before,
a.button.pause:before
{
    content: "\f04c";
    font-family: FontAwesome;
}

button.random:before,
a.button.random:before
{
    content:"\f074";
    font-family: FontAwesome;
}

button.heart:before,
a.button.heart:before
{
    content:"\f004";
    font-family:FontAwesome;
}

button.play:before,
a.button.play:before
{
    content: "\f04b";
    font-family: FontAwesome;
}

button.forward:before,
a.button.forward:before
{
    content:"\f04e";
}

button.reddit:before,
a.button.reddit:before
{
    content: "\f281";
}

button.facebook:before,
a.button.facebook:before
{
    content:"\f09a";
}

button.twitter:before,
a.button.twitter:before
{
    content:"\f099";
}

button.google-plus:before,
a.button.google-plus:before
{
    content:"\f0d5";
}