@media only screen and (min-width : 1024px)
{
    .large-12-12
    {
        width: 100.000%;
    }
    .large-11-12
    {
        width: 91.530%;
    }
    .large-10-12
    {
        width: 83.060%;
    }
    .large-9-12
    {
        width: 74.600%;
    }
    .large-8-12
    {
        width: 66.130%;
    }
    .large-7-12
    {
        width: 57.660%;
    }
    .large-6-12
    {
        width: 49.200%;
    }
    .large-5-12
    {
        width: 40.730%;
    }
    .large-4-12
    {
        width: 32.260%;
    }
    .large-3-12
    {
        width: 23.800%;
    }
    .large-2-12
    {
        width: 15.330%;
    }
    .large-1-12
    {
        width: 6.866%;
    }

    .col.large-4-12:nth-child(3n+1)
    {
        margin-left: 0;
    }

    .col.large-3-12:nth-child(4n+1)
    {
        margin-left: 0;
    }

    .col.large-2-12:nth-child(6n+1)
    {
        margin-left: 0;
    }

    .collapse
    {
        margin: .000%;
    }
    .collapse.large-12-12
    {
        width: 100.000%;
    }
    .collapse.large-11-12
    {
        width: 91.660%;
    }
    .collapse.large-10-12
    {
        width: 83.330%;
    }
    .collapse.large-9-12
    {
        width: 75.000%;
    }
    .collapse.large-8-12
    {
        width: 66.660%;
    }
    .collapse.large-7-12
    {
        width: 58.330%;
    }
    .collapse.large-6-12
    {
        width: 50.000%;
    }
    .collapse.large-5-12
    {
        width: 41.660%;
    }
    .collapse.large-4-12
    {
        width: 33.330%;
    }
    .collapse.large-3-12
    {
        width: 25.000%;
    }
    .collapse.large-2-12
    {
        width: 16.66%;
    }
    .collapse.large-1-12
    {
        width: 8.333%;
    }

    .col.large-12-12
    {
        margin-left: 0;
    }

    .large-hide
    {
        display: none;
    }

    .large-ta-right
    {
        text-align: right;
    }

    .large-ta-center
    {
        text-align: center;
    }

    
}