#dashboard {
	> div:first-child
	{
		padding: 20px;
	}

	header
	{
		display: flex;
		height: 41px;

		h3
		{
			display: inline-flex;
		    margin: 0;
		    align-items: center;
		    color: #9e9e9e;

		    icon
		    {
		    	margin-right: 1em;
		    	line-height: 1.846;
		    }			
		}
	}
}
