/* Smart Phones */
@media only screen and (min-width : 320px) and (max-width : 480px)
{
    .small-ta-center
    {
        text-align: center;
    }

    .small-ta-right
    {
        text-align: right;
    }

    .small-ta-left
    {
        text-align: left;
    }

    .small-hide
    {
        display: none;
    }

    .small-12-12
    {
        width: 100.000%;
    }
    .small-11-12
    {
        width: 91.530%;
    }
    .small-10-12
    {
        width: 83.060%;
    }
    .small-9-12
    {
        width: 74.600%;
    }
    .small-8-12
    {
        width: 66.130%;
    }
    .small-7-12
    {
        width: 57.660%;
    }
    .small-6-12
    {
        width: 49.200%;
    }
    .small-5-12
    {
        width: 40.730%;
    }
    .small-4-12
    {
        width: 32.260%;
    }
    .small-3-12
    {
        width: 23.800%;
    }
    .small-2-12
    {
        width: 15.330%;
    }
    .small-1-12
    {
        width: 6.866%;
    }

    .collapse
    {
        margin: .000%;
    }
    .collapse.small-12-12
    {
        width: 100.000%;
    }
    .collapse.small-11-12
    {
        width: 91.660%;
    }
    .collapse.small-10-12
    {
        width: 83.330%;
    }
    .collapse.small-9-12
    {
        width: 75.000%;
    }
    .collapse.small-8-12
    {
        width: 66.660%;
    }
    .collapse.small-7-12
    {
        width: 58.330%;
    }
    .collapse.small-6-12
    {
        width: 50.000%;
    }
    .collapse.small-5-12
    {
        width: 41.660%;
    }
    .collapse.small-4-12
    {
        width: 33.330%;
    }
    .collapse.small-3-12
    {
        width: 25.000%;
    }
    .collapse.small-2-12
    {
        width: 16.66%;
    }
    .collapse.small-1-12
    {
        width: 8.333%;
    }

    .small-hide
    {
        display: none;
    }

    .small-ta-center
    {
        text-align: center;
    }


    .mobile-nav li
    {
        display: inline-block;

        vertical-align: middle;
    }

    .col.small-6-12:nth-child(3)
    {
        margin-left: 0;
    }

    .col.small-12-12
    {
        margin: 0 0 1em 0;
    }

    /*.col {
    margin: 0 0 1em 0;
  }*/

    .mobile-nav
    {
        display: table-cell;

        width: 100%;
        margin: 0;
        padding: 0 1.6% 0 1.6%;

        vertical-align: middle;
    }
}
