#admin
{
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.846;
    color: #666;
    padding-left: 250px;
    height: 100%;
    overflow:  hidden;
    padding-top: 4em;
}

#admin {

	main
	{
		height: 100%;
		background-color: #F9F9F9;

		> div:first-child
		{
			height: 100%;
		}
	}

	#actionFeed
	{
		h3.section-header
		{
			line-height: 41px;
			align-items: center;
			color: #9e9e9e;
		}

		h3.section-header icon
		{
			float: right;
			color: #e91e63;
		}
	}

	#adminDashboard {
		display: flex;
		height: 100%;

		h3 {
			display: inline-flex;
			margin: 0;
			align-items: center;
			color: #9e9e9e;
		}

		h3 icon {
			margin-right: 0.5em
		}

		.quickSettings {
			display: inline-flex;
			margin-left: auto;
		}
	}

	#actionFeed
	{
		padding: 20px;
		background-color: #EEEEEE;
		height: 100%;
	}
}