.user-id-card
{
	min-height: 94px;
	display: flex;
	align-items: center;
	background-image: url('./user-bg.png');

	div:first-child
	{
		padding: 0.5em;
	}

	.controls a
	{
		font-size: 10px;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		margin-right: 1em;
	}

	.controls a,
	.controls a:visited
	{
		color: #2196F3;
	}

	p 
	{
		margin: 0;
	}

	.user-profile-pic
	{
		border-radius: 8em;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
}

.user-id-card .role
{
	font-size: 9px;
}