#zencss
{
	.page
	{
		padding: 0;
	}

	.page h1.section-header
	{
		text-transform: uppercase;
		font-size: 1.5em;
		margin-bottom: 1em;
		display: block;
		float: left;
	}

	.page h1.section-header:after 
	{
	    content: '';
	    display: block;
	    width: 50px;
	    height: 3px;
	    position: relative;
	    bottom: -10px;
	    left: 0;
	    background-color: #009688;
	}

	.page .example > h4
	{
		margin-top: -1em;
		background-color: #fff;
		display: inline-block;
		position: relative;
	    top: -16px;
	    width:  6em;
	    margin-bottom:  0;
	}
}

