.divider
{
    padding: 2em 0 0 0;
    text-align: center;
}

.divider hr
{
	border-top: 1px solid #7a7a7a;
    border-color: #eaeaea;
    margin: 0 !important;
}

.divider > div
{
	width: 100%;
	text-align: center;
	position: relative;
    top: -18px;
}

.divider h3
{
	display: inline-block;
	background-color: #fff;
	padding: 0 1em;
	position: relative;
	margin: 0;
}